<%- include('partials/header') %>
    <div class="container text-center mt-4">
        <h3>Welcome to Peeper!</h3>
        <p>You'll want to either sign up or log in. You can do that from the navbar or using the buttons below!</p>
        <p>Eventually this'll display all the Peeps that people have posted!</p>
        <div class="container" role="group" aria-label="Login & Register">
            <a href="/user/login" class="btn btn-primary btn-lg">Login</a>
            <a href="/user/register" class="btn btn-success btn-lg">Register</a>
        </div>
    </div>
<%- include('partials/footer') %>